<div class="work-box">
  <div class="yield">
    <h1>About <span class="chewy-pop">Pop 60!</span></h1>
  </div>
  <div class="yield">
    <h2>Pop 60 celebrates the pop culture of your life--<br>
      however long your life has been.<br><br>
      Whether it's music, posters, movies, or toys,<br>
      we recognize that memories matter.<br><br>
      We are committed to providing products that celebrate your life!<br><br>
    </h2>
 </div>
</div>
