<div class="yield">
<h1>About</h1>
</div>
<div class="yield">
<p>Pop 60 celebrates the pop culture of your life, however long your life has been.<br>
 Whether it's music (from 78s to 45s to MP3s), posters, movies, or toys,<br>
 we recognize that memories matter.<br><br>
 We are committed to providing products that celebrate your life.</p>
</div>
