<div class="work-box">
  <div class="yield">
    <h1>Contact <span class="chewy-pop">Pop 60!</span></h1>
  </div>
  <div class="yield">
    <h2>
      We're always available to discuss the pop culture touchstones<br> that have been important in your life.<br><br>
      <%= render partial: "contact" %>
      <br><br>
    </h2>
  </div>
</div>
