<% product = Product.find(1) %>
<div class="col-md-offset-2 col-md-8 work-box">
  <div class="yield">
    <h1 class="chewy-pop">Featured Product<h1>
  </div>
  <div class="yield pop-link">
    <a href="/products/<%= product.id %>">
      <h2><%= product.name %></h2>
    </a>
  </div>
  <div class="yield">
    <a href="/static_pages/landing_page"><button type="button" class="btn btn-primary">See All Our Pop 60 Products!</button></a>
  </div><br>
  <div class="yield">
    <%= image_tag(product.image_url, class: "img-responsive img") %>
  </div>
</div>