<div class="yield">
  <h1>Welcome to Pop 60</h1>
</div>
<div class="yield">
  <h2>It's not nostalgia. It's your life!</h2>
</div>
<div class="yield">
  <%= image_tag("batman_tv_1.jpg", class: "img-responsive") %>
</div>