<div class="col-md-offset-2 col-md-8 work-box">
  <div class="yield">
    <h1>Thanks for contacting <span class="chewy-pop">Pop 60!</span></h1>
  </div>
  <div class="yield">
    <h3>We'll get back with you shortly!</h3>
  </div>
  <div class="yield">
    <a href="/static_pages/landing_page"><button type="button" class="btn btn-primary">See All Our Pop 60 Products!</button></a>
  </div>
</div>

