<div class="col-md-offset-2 col-md-8 work-box work-box-top work-box-product">
  <p class="standard-text text-center">
    <span class="chewy-pop text-pop">
      <%= @user.first_name %>
      <%= @user.last_name %>
    </span>
  </p>

  <p class="standard-text standard-space text-center">
      Email: 
      <%= @user.email %>
  </p>

  <div class="work-box-top text-right">
    <span class="chewy-little">
      <%= link_to 'Edit', edit_user_path(@user) %>
    </span>
  </div>
<!--<#%= link_to 'Back', users_path %>-->

