// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 30px;
}

.yield {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, .chewy-red {
  color: #cc0000;
}

h2 {
  margin-top: 0;
}

.chewy-pop {
  font-family: 'Chewy', cursive;
  font-size: 40px;
  line-height: 1em;
}

.chewy-little {
  font-size: 1.25em;
  font-family: 'Chewy', cursive;
}

.carousel-indicators li {
  border: 1px solid #cc0000;
}

.carousel-indicators .active {
  background-color: #cc0000;
}

.carousel-caption {
  box-shadow: inset 0px 0px 277px 3px #f2f2f2;
}

.page-header {
  text-align: center;
  margin-top: 0px;
}

.small-text-field {
    width: 20%;  
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-italics {
  font-style: italic;
  line-height: 1.5em;  
}

.text-pop {
  color: red;
}

.standard-text {
  font-size: 1.5em;
}

.standard-space {
  padding-top: 1em;  
}

.img {
  border: 10px solid black;
  margin-bottom: 2%;
}

.work-box-wide {
  background-color: #74b678;
  padding-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}

.work-box {
  background-color: #74b678;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
}

.work-box-top {
  padding-top: 2em;
}

a.right.carousel-control:hover {
  background-color: #fff;
}

a#carousel-edges:hover {
  background-color: #fff;
}

.carousel-control {
  background-color: #fff;
}

.product-name {
  color: #cc0000;
  text-align: center;
}

.product-box {
  background-color: #f2f2f2;
  border-style: groove;
  margin-bottom: 4%;
}

.col-sm-4 a:hover    {
  color: red;
  border-color: red;
  text-decoration: none;
  background-color: #f2f2f2;
}

.pop-link a:hover    {
  color: red;
  text-decoration: none;
  background-color: #74b678;
}

.image-box {
  background-color: #f2f2f2;
  padding: 5%;  
  display: block;
}

.image-center {
    display: block;
    margin: auto;
    width: 40%;
    padding:1px;
    background-color:#ff0;
    border:1px solid red;
}

#edit-submit-button {
  background-color: green;
}

.hidden {
  display: none;
}

/* shared navigation */

.navbar {
  font-family: 'Chewy', cursive;
  font-size: 2em;
}

.navbar-brand a {
  font-size: 2em;
  color: #ff5a72;
}

.navbar {
  background-color: #9dc6e9;
}

.navbar a {
  border-left: 1px solid #C2C2C2;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ff5a72;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse navbar-nav>li>a:focus,
.navbar-brand a:hover, .navbar-brand a:focus {
  color: red;
  text-decoration: none;
  background-color: #9dc6e9;
}

.navbar-inverse {
  color: red;
}

.search-box {
  border-radius: 4px;
  padding-left: 5px;
  font-size: 24px;
}

.search-box:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

::-webkit-input-placeholder { /* Chrome */
  color: lightgrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: lightgrey;
  opacity: 1;
}

.search-go-button {
  font-size: 18px;
  // color: #ff5a72;
  color: red;
  background-color: white;
}

.footer-format {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fcb9;
  /* make it sticky */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

@media (max-width: 768px) {
  .work-box {
    margin-left: 3%;
  }
  .hide-under-768 {
    display: none;
  }
  .small-text-field {
    width: 100%;  
  }
  .navbar-form {
    border: 0;
  }
}
