// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yield {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #cc0000;
}

.chewy-pop {
    font-family: 'Chewy', cursive;
    font-size: 40px;
}

.page-header {
  text-align: center;
  margin-top: 0px;
}

.text-pop {
  color: red;
}

.standard-text {
  font-size: 1.5em;
}

.standard-space {
  padding-top: 1em;  
}

.img {
  border: 10px solid black;
  margin-bottom: 2%;
}

.work-box-wide {
  background-color: #74b678;
  // padding-top: 1em;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}

.work-box {
  background-color: #74b678;
  // padding-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
}

.work-box-top {
  padding-top: 2em;  
}

a, a:visited, a:active, a:hover {
  color: red;
  text-decoration: none;
}

.product-name {
  color: #cc0000;
  text-align: center;
}

.product-box {
  background-color: #f2f2f2;
  border-style: groove;
  margin-bottom: 4%;
}

.image-box {
  background-color: #f2f2f2;
  padding: 5%;  
  display: block;
}

/* shared navigation */

.navbar {
  font-family: 'Chewy', cursive;
  font-size: 2em;
}

.navbar {
  background-color: #9dc6e9;
}

.navbar a {
  border-left: 1px solid #C2C2C2;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ff5a72;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: red;
}

.footer-format {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fcb9;
  /* make it sticky */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

