<p id="notice"><%= notice %></p>

<div class="col-md-12 work-box-wide">
  <h1 class="chewy-pop page-header">Products</h1>

  <div class="container"><!-- recurring product list-->
    <div class="row">
      <%= render @products %>
    <div><!-- row --> 
  </div><!-- end product list container -->

</div><!-- end work-box -->



