<p id="notice"><%= notice %></p>

<div class="col-md-12 work-box-wide">
  <h1 class="chewy-pop text-center">Products</h1>

  <div class="container"><!-- recurring product list-->
    <div class="flex-row row">
      <% cache(cache_key_for_products) do %>
        <%= render @products %>
      <% end %>
    </div><!-- /row --> 
  </div><!-- end product list container -->
  <% if signed_in? && current_user.admin? %>
    <div class="work-box-top text-right"><!--(2)-->
      <span class="chewy-little">
        <%= link_to 'New', new_product_path %>
      </span>
    </div><!-- end work-box-top (2)-->
  <% end %>
</div><!-- end work-box -->
<div class="col-md-12 bottom-of-page"></div>



